.vidriera {
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    background: map-get($vidriera, fondoVidriera); 
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%; 

    .imagenCarusel{
        height: 600px;
        width: 100px;
    }

    @media (max-width:576px){
        .imagenCarusel{
            height: 200px;
        }
    }

    @media (max-width:768px){
        .imagenCarusel{
            height: 400px;
        }
    }

    .productos{
        @include displayFlex;
    }

    .vidrieraProducto {
        background: $fondoProducto;    
        border-radius: 18px;
        margin: 100px;
    }

    .vidriera__datos{
        color: #000000;

        .vidrieraImagen{
            padding-left: 20px;
            overflow: hidden;

            &:hover {
                -webkit-transform:scale(1.1);transform:scale(1.1);
            }
        }
        
        .vidriera__titulo{
            background-color: map-get($vidriera, colorTitulo);
            border-radius: 20px;
            text-align: map-get($vidriera, centro);
            padding: 10px;
            margin: 10px;
            
        }
        
        .vidriera__precio{
            position: relative;
            left: 100px;
            background-color: map-get($vidriera, colorTitulo);
            border-radius: 20px;
            text-align: map-get($vidriera, centro);
            width: 100px;
            padding: 10px;
        }
        
        .botonComprar {
            color: #000000;
            background-color: map-get($vidriera, colorTitulo);
            border: 2px solid #000000;
            border-radius: 6px;
            padding: 16px 15px;
            text-align: map-get($vidriera, centro);
            margin: 15px ;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
            bottom: 42px;
            left: 5px;

            &:hover {
                background-color: #008CBA;
                color: white;
            }

        }
        
        .botonCarrito{
            @extend .botonComprar;
            position: relative;
            top: 5px;
            
        }
    }

}





