$fondoProducto : url("./../images/header.png");
$footerColor : #e3f2fd;

$vidriera: (
    colorTitulo: #e3f2fd,
    colorTituloTrans: #e3f2fdd7,
    colorBorde: #c0c1c2,
    centro: center,
    fondoVidriera : url("./../images/cielonube.jpg")
);

@mixin displayFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}