$fondoProducto : url("./../images/header.png");
$footerColor : #e3f2fd;

$vidriera: (
    colorTitulo: #e3f2fd,
    centro: center,
    fondoVidriera : url("./../images/cielonube.jpg")
);

@mixin displayFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}