@media screen and (max-width: 1200px) {
  .titulo {
    display: none;
  }
}
.titulo {
  position: absolute;
  top: 20px;
}

.vidriera {
  font-family: "Overpass", sans-serif;
  font-size: 25px;
  background: url("./../images/cielonube.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
.vidriera .imagenCarusel {
  height: 600px;
  width: 100px;
}
@media (max-width: 576px) {
  .vidriera .imagenCarusel {
    height: 200px;
  }
}
@media (max-width: 768px) {
  .vidriera .imagenCarusel {
    height: 400px;
  }
}
.vidriera .productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.vidriera .vidrieraProducto {
  background: url("./../images/header.png");
  border-radius: 18px;
  margin: 100px;
}
.vidriera .vidriera__datos {
  color: #000000;
}
.vidriera .vidriera__datos .vidrieraImagen {
  padding-left: 20px;
  overflow: hidden;
  position: relative;
  right: 10px;
}
.vidriera .vidriera__datos .vidrieraImagen:hover {
  transform: scale(1.1);
}
.vidriera .vidriera__datos .vidriera__titulo {
  background-color: #e3f2fd;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid #c0c1c2;
}
.vidriera .vidriera__datos .vidriera__precio {
  position: relative;
  left: 40px;
  top: 10px;
  background-color: #e3f2fd;
  border-radius: 20px;
  text-align: center;
  width: 100px;
  padding: 18px 15px;
  border: 2px solid #c0c1c2;
}
.vidriera .vidriera__datos .botonCarrito {
  position: relative;
  left: 190px;
  top: -70px;
  height: 75px;
  width: 75px;
  background-image: url("./../images/cart-add-regular-24.png");
  background-size: 200px;
  background-position-x: 5px;
  background-position-y: 5px;
  color: #000000;
  background-color: #e3f2fd;
  border: 2px solid #c0c1c2;
  border-radius: 20px;
  padding: 16px 15px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.vidriera .vidriera__datos .botonCarrito:hover {
  background-image: url("./../images/cart-add-regular-84.png");
}

.barra {
  list-style: none;
  background-color: #e3f2fd;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.barra .barraItem {
  background-color: #e3f2fd;
  color: rgb(56, 56, 56);
  font-family: "Overpass", sans-serif;
  border-radius: 18px;
  font-size: 30px;
  position: relative;
  left: 45px;
}
.barra .barraItemInstagram {
  width: 150px;
  background-image: url("./../images/instagram-logo-84.png");
  background-size: 180px;
  background-position-x: -5px;
  background-position-y: -5px;
}
@media (max-width: 450px) {
  .barra .barraItem {
    font-size: 15px;
  }
}

.formularioCompleto {
  font-family: "Overpass", sans-serif;
  background-color: rgba(255, 250, 157, 0.7411764706);
  padding-left: 30px;
  width: 100%;
  height: 100%;
}
.formularioCompleto .formulario__titulo {
  font-size: 30px;
}
.formularioCompleto .formularioTitulo {
  font-size: 30px;
}
.formularioCompleto .formularioDato {
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 450px) {
  .formularioCompleto .formularioDato {
    font-size: 15px;
  }
}
.formularioCompleto .formularioCasilla {
  background: transparent;
  border-radius: 6px;
}
.formularioCompleto .formularioRegion {
  max-width: 250px;
}
.formularioCompleto .formularioRegion .formularioRegion select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: rgb(68, 67, 67);
  font-size: 1em;
  color: rgb(68, 67, 67);
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}
.formularioCompleto .formularioRegion .formularioRegion select:hover {
  background: #008CBA;
}
.formularioCompleto .formulariosBotones {
  margin-bottom: 30px;
}
.formularioCompleto .formulariosBotones .formularioBotones .formularioCheck {
  background: #fff;
  border-radius: 50%;
}

body {
  background-image: url("./../images/cielonube.jpg");
}/*# sourceMappingURL=styles.css.map */